extends layout

block content
  h2 Recent Submissions
  table.table
    thead
      tr
        th Name
        th Language
        th Length
        th Creation
        th Submission
        th Status
        th Message
        th URL
    tbody
      each submission in submissions
        tr(class=submission.status ? 'success' : 'warning')
          td= submission.username
          td= submission.language
          td= submission.length + ' bytes'
          td= moment(submission.createdAt).tz('Asia/Tokyo').format('YYYY/MM/DD HH:mm:ss')
          td= moment(submission.submittedAt).tz('Asia/Tokyo').format('YYYY/MM/DD HH:mm:ss')
          td= submission.status ? 'AC' : 'WA'
          td= submission.message
          td
            if true || (user && submission.user === user.id)
              a(href=submission.url, target='_blank')= submission.url
            else
              | ---
