extends layout

block content
  h2 Scoreboard
  table.table
    thead
      tr
        th Name
        th Language
        th Length
        th Creation
        th Submission
        th Status
        th Message
        th URL
    tbody
      - Date.prototype.toDisplayString = function () { return this.getFullYear() + '/' + (this.getMonth() + 1) + '/' + this.getDate() + ' ' + this.getHours() + ':' + this.getMinutes() + ':' + this.getSeconds() }
      each submission in submissions
        tr(class=submission.status ? 'success' : 'warning')
          td= submission.username
          td= submission.language
          td= submission.length
          td= submission.createdAt.toDisplayString()
          td= submission.submittedAt.toDisplayString()
          td= submission.status ? 'AC' : 'WA'
          td= submission.message
          td
            a(href=submission.url, target='_blank')= submission.url
